<%- include('partials/header') %>


<div class="jumbotron centered" style="height:400px !important; margin:2rem;">
  <div class="container">
    <i><img src="css/panda-bear.png" height="100px" width="100px"> </i>
<!--     <i class="fa fa-face-swear fa-6x"></i> -->
    <h1 style="font-family: 'Delicious Handrawn', cursive;" class="display-3">soft-spot
    </h1>
    <p class="lead">Don't keep your words for someone  only in heart , share them anonymously!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<div style=" height:100px; background-color: #1d1919;;">

</div>

<%- include('partials/footer') %>
