<%- include('partials/header') %>

<div class="box" style="width:365px;">
  <h4 style="font-family: 'Delicious Handrawn', cursive;">Pls don't be afraid to share it's completely Anonymous who shared these thoughts.</h4>
</div>
<div class="row"> 
  
  <br>
  <div class="box">
    <div class="box-img">
      <img href="https://i.imgflip.com/1q9h3z.jpg">
    </div>
  </div>
    
</div>





  <%- include('partials/footer') %>