<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i><img src="css/panda-bear.png" height="100px" width="100px"> </i>
    <h1 class="display-3">Here's Some Thoughts! Someone had once!</h1>
    <div style="padding:12px;  overflow-y:auto; max-height: 400px;" class="box">
      <% usersWithSecrets.forEach(function(user){ %>

        <% if(user.secret.length>=50){ %>
          <p class="secret-text"><marquee behavior="scroll" direction="left"><%=user.secret%></marquee> </p> 
        <% } else{  %>
          <p style="border-radius: 5px;" class="secret-text"> <%=user.secret%> </p>
        <% }  %>
       
      <% }) %>
  
  
      <hr>
    </div>
    <div class="box" style="display:flex; justify-content:space-between;">
      
        <a  class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
      <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit Secret Thought</a>
    
    </div>
  </div>
</div>

<%- include('partials/footer') %>
