<%- include('partials/header') %>

<div class="row">
  <div class="box" style="padding:30px;">
    

      
   <h1>There's a Limited 512mb database Pls don't make any act to spoil it. In which case I have your ip address think what I can do to you :)!</h1>


  </div>
</div>
  




  <%- include('partials/footer') %>